$font-family-sans-serif: Poppins;
$primary: green;
$container-max-widths: ( sm: 540px, md: 720px, lg: 1088px, xl: 1088px);
$form-label-color: $primary;
$form-label-font-size: 13px;
$form-label-font-weight: 500;
$input-btn-font-size: 13px;
$input-btn-padding-y: 14px;
$input-btn-padding-x: 16px;
$input-font-weight: 400;
$input-bg: #EEEE;
$input-placeholder-color:#CECECE;