@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import 'shared/variables';
@import "~bootstrap/scss/bootstrap";
h1,
h2 {
    font-weight: 800;
}

h1 {
    font-size: 62px;
    line-height: 73px;
}

h2 {
    font-size: 42px;
}

h4 {
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

input,
button {
    border: 0 !important;
    border-radius: 0 !important;
}

.header {
    height: 662px;
    background: url(../../public/images/background/cover-30.jpg) center top;
    background-size: cover;
}

.container {
    //max-width: 1088px;
    padding: 0;
}


/*--------------------------------*\
    $MENU
\*--------------------------------*/

nav {
    .navbar-brand {
        font-size: 14px;
    }
    ul {
        font-size: 12px;
        font-weight: 500;
        padding-left: 48px;
        text-transform: uppercase;
    }
}

.navbar-nav {
    .nav-item {
        padding-left: 50px;
        .nav-link {
            padding: 0;
        }
    }
    &:first-child {
        padding: 0;
    }
}


/*--------------------------------*\
    $TITLE
\*--------------------------------*/

.basel {
    .baseline {
        margin-top: 180px;
    }
}

.leads {
    width: 352px;
    margin-top: 20px;
}


/*--------------------------------*\
    $BOOKING SECTION
\*--------------------------------*/

.box {
    width: 100%;
    height: 148px;
    background-color: #fff;
    padding: 32px 92px;
}

.booking-input {
    height: 148px;
    margin: 0 auto;
}


/*--------------------------------*\
    $ABOUT US SECTION
\*--------------------------------*/

.about-us {
    height: 461px !important;
    .first-p {
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
    }
}


/*--------------------------------*\
    $SPLASH SECTION
\*--------------------------------*/

.splash {
    .first-items {
        width: 59px;
        height: 59px;
        border-radius: 30px;
        margin: 0 auto;
        svg {
            position: relative;
            top: 18px;
            height: 23px;
        }
    }
}


/*--------------------------------*\
    $RESTAURANT
\*--------------------------------*/

.restaurant {
    .card {
        .w-bg {
            background: #F8F8F8;
        }
        /* btn-cnt {
            &:before {
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                content: "\f061";
                position: absolute;
                right: 0;
                bottom: 0;
            } */
    }
}


/*--------------------------------*\
    $BLOG
\*--------------------------------*/

.blog {
    .card {
        background: #F8F8F8;
    }
}